# internal solr
solr/bin
solr/contrib
solr/dist
solr/server
# cores
solr/*/data

# 
Gemfile.lock
test/solr
test/tmp

acts_as_solr_reloaded-*.gem
*.log
*.log
*_pid

# testing data
coverage
coverage/*
coverage.data
test/db/*.db
test/log/*.log
pkg/*
rdoc
pkg
tags

#editors
*.sw?
